@charset "UTF-8";
.network__list, .features__list, .we-do__list, .team__list, .clients__list, .address__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;
  min-width: 320px;
}

.sections-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-gap {
  display: block;
  max-width: 100%;
}

/* ЛОГО */
.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.logo--header {
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--footer {
  color: #ffffff;
}

.logo__text {
  color: #2196f3;
}

.network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 16px;
}

.network__list--footer {
  margin-top: 20px;
}

.network__item:not(:first-child) {
  margin-left: 10px;
}

.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.network__link--grey {
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network__link--white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.network__link:hover, .network__link:focus {
  background-color: #2196f3;
  color: #ffffff;
  outline: none;
}

.network__icon {
  fill: currentColor;
}

/* В ФУТЕРЕ */
.network {
  margin-top: 60px;
  text-align: center;
}

.network__text {
  margin: 0;
  padding: 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.container--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

/* Контакты в хедере */
@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}

/* HERO section */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.hero__buttom {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
}

/* FEATURES SECTION */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__item:not(:first-child) {
  margin-top: 30px;
}

.features__thumb {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.features__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

/* WE DO SECTION */
.we-do {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .we-do {
    display: none;
  }
}

.we-do__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
}

.we-do__item {
  margin-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: calc(100% / 3 - 30px);
          flex-direction: calc(100% / 3 - 30px);
}

.we-do__thumb {
  position: relative;
}

.we-do__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

/* OUR TEAM SECTION */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team__list {
  margin-top: 30px;
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:first-child) {
  margin-top: 30px;
}

.teamate-card {
  padding-top: 30px;
  padding-bottom: 24px;
}

.teamate-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0;
  padding: 0;
}

.teamate-card__text {
  color: #757575;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

/* НАШИ КЛИЕНТЫ */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sections-title--clients {
  margin-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -15px;
}

.clients__item {
  width: 210px;
  height: 90px;
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 30px * 2) / 2);
      flex-basis: calc((100% - 30px * 2) / 2);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border-color: #2196f3;
  color: #2196f3;
  outline: none;
}

.clients__icon {
  fill: currentColor;
}

/* FOOTER */
.footer {
  background-color: #2f303a;
  text-align: center;
}

.container--footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.address__list,
.address__item:last-child {
  margin-top: 8px;
}

.address__text {
  color: #ffffff;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

/* РАССЫЛКА */
.subscribe {
  margin-top: 60px;
  text-align: center;
}

.subscribe__text {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe__form {
  margin-top: 20px;
}

.subscribe__input {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe__btn {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */